
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink {

  50% {

    opacity: 1;

  }

}


.app{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011926;
}

.words-interface{
  width: 700px;
  padding: 10px;
}

.result-details li {
  list-style: none;
  color: white;
}

.result-details{
  display: flex;
  gap: 20px;
}

.input-word-field{
  /* opacity: 100;
  z-index: 1; */
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}

.typing-text {
  background-color: transparent; 
  /* padding: 0px 0px 0px 10px;x */
  
}

.typing-text span{
  color: white;
  font-size: 28px;
  width: 0px;
  /* height: px; */
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.typing-text span.correct{
  color: #00ff73;
}
.typing-text span.incorrect{
  color: #f85454;
}

.typing-text span.incorrect::before{
  background: #f85454;
  position: absolute;
  content: "";
  width: 90%;
  height: 0.5px;
  bottom: 0;
}

.typing-text span.active::before{
  position: absolute;
  content: "";
  height: 90%;
  width: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #00ff73;
  animation: blink 2s ease-in-out infinite;
}

.content-box {
  position: relative;
  
}

.content-box .typing-text {
  overflow: scroll;
  height: 106px;
}

.typing-text::-webkit-scrollbar{
  width: 0;
}

.overlap-active-box{
  height: 35px;
  width: 15px;
  position:absolute;
  background: transparent;
  bottom: 0;
  
}

/* .content{
  display: flex;
  justify-content: center;
} */

.content-box{
  align-items: center;
}

.result-details span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.reload {
  display: flex;
  justify-content: center;
}

.reload-icon{
  cursor: pointer;
}

.reload-icon:hover{
  fill: #00ff73;
}

